# Redirect to current event website
# This should agree with
# https://raw.githubusercontent.com/apache/comdev-events-site/main/static/.htaccess
#  and the default event in
# https://www.apachecon.com/event-images/snippet.js
Redirect /events/current-event.html https://eu.communityovercode.org/
Redirect /events/current-event https://eu.communityovercode.org/

# test: without leading /events
Redirect /test1.html https://communityovercode.org/?test1.html
Redirect /test2 https://communityovercode.org/?test1

# test: with leading events (but no plain file)
Redirect /events/test2.html https://communityovercode.org/?test2.html
Redirect /events/test2 https://communityovercode.org/?test2
